lib/agents/n8n-workflows/marketing-agent-workflow.json
{
  "_comment": "ZenTrade — Marketing Agent Workflow para n8n",
  "_instructions": [
    "1. Importa este JSON en n8n",
    "2. Configura credencial 'ZenTrade Telegram Bot' con tu Bot Token",
    "3. El workflow corre cada domingo a las 8pm (hora Bogotá)",
    "4. El contenido llega a Telegram para que lo revises y publiques manualmente",
    "5. Cambia 'topic' y 'context' en el nodo 'Set — Tema de la semana' cada semana"
  ],
  "name": "ZenTrade — Marketing Agent (Semanal)",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Trigger — Domingo 8pm Bogotá",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 20 * * 0" }]
        },
        "timezone": "America/Bogota"
      }
    },
    {
      "id": "set-topic",
      "name": "Set — Tema de la semana",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "topic",
              "name": "topic",
              "value": "La disciplina que separa a los traders que pasan evaluaciones de los que las repiten",
              "type": "string"
            },
            {
              "id": "context",
              "name": "context",
              "value": "Enfoca en la consistencia del proceso, no en los resultados. ZenTrade ayuda a medir y mejorar esa consistencia.",
              "type": "string"
            }
          ]
        },
        "_note": "CAMBIA 'topic' Y 'context' CADA SEMANA"
      }
    },
    {
      "id": "generate-instagram",
      "name": "Claude — Generar Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 160],
      "parameters": {
        "method": "POST",
        "url": "https://www.zen-trader.com/api/agents/marketing",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer zentrade-support-2026-xK9mPqL7vN2026" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "platform", "value": "instagram" },
            { "name": "topic", "value": "={{ $json.topic }}" },
            { "name": "context", "value": "={{ $json.context }}" }
          ]
        },
        "options": { "timeout": 60000 }
      }
    },
    {
      "id": "generate-twitter",
      "name": "Claude — Generar Twitter/X",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "https://www.zen-trader.com/api/agents/marketing",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer zentrade-support-2026-xK9mPqL7vN2026" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "platform", "value": "twitter" },
            { "name": "topic", "value": "={{ $json.topic }}" },
            { "name": "context", "value": "={{ $json.context }}" }
          ]
        },
        "options": { "timeout": 60000 }
      }
    },
    {
      "id": "generate-tiktok",
      "name": "Claude — Generar TikTok Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 440],
      "parameters": {
        "method": "POST",
        "url": "https://www.zen-trader.com/api/agents/marketing",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer zentrade-support-2026-xK9mPqL7vN2026" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "platform", "value": "tiktok" },
            { "name": "topic", "value": "={{ $json.topic }}" },
            { "name": "context", "value": "={{ $json.context }}" }
          ]
        },
        "options": { "timeout": 60000 }
      }
    },
    {
      "id": "extract-texts",
      "name": "Extraer textos de respuestas Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "const ig = $('Claude — Generar Instagram').item.json;\nconst tw = $('Claude — Generar Twitter/X').item.json;\nconst tt = $('Claude — Generar TikTok Script').item.json;\n\nconst getText = (r) => r?.content ?? '(error generando contenido)';\n\nreturn [{\n  json: {\n    instagram: getText(ig),\n    twitter: getText(tw),\n    tiktok: getText(tt)\n  }\n}];"
      }
    },
    {
      "id": "telegram-instagram",
      "name": "Telegram — Enviar Instagram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1120, 160],
      "parameters": {
        "chatId": "754505222",
        "text": "=📸 *INSTAGRAM — ZenTrade*\n\n{{ $json.instagram }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "credentials": { "telegramApi": { "id": "CONECTAR_EN_N8N", "name": "ZenTrade Telegram Bot" } }
    },
    {
      "id": "telegram-twitter",
      "name": "Telegram — Enviar Twitter/X",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1120, 300],
      "parameters": {
        "chatId": "754505222",
        "text": "=🐦 *TWITTER/X — ZenTrade*\n\n{{ $json.twitter }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "credentials": { "telegramApi": { "id": "CONECTAR_EN_N8N", "name": "ZenTrade Telegram Bot" } }
    },
    {
      "id": "telegram-tiktok",
      "name": "Telegram — Enviar TikTok Script",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1120, 440],
      "parameters": {
        "chatId": "754505222",
        "text": "=🎬 *TIKTOK/REELS — ZenTrade*\n\n{{ $json.tiktok }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "credentials": { "telegramApi": { "id": "CONECTAR_EN_N8N", "name": "ZenTrade Telegram Bot" } }
    }
  ],
  "connections": {
    "Trigger — Domingo 8pm Bogotá": {
      "main": [[{ "node": "Set — Tema de la semana", "type": "main", "index": 0 }]]
    },
    "Set — Tema de la semana": {
      "main": [[
        { "node": "Claude — Generar Instagram", "type": "main", "index": 0 },
        { "node": "Claude — Generar Twitter/X", "type": "main", "index": 0 },
        { "node": "Claude — Generar TikTok Script", "type": "main", "index": 0 }
      ]]
    },
    "Claude — Generar Instagram": {
      "main": [[{ "node": "Extraer textos de respuestas Claude", "type": "main", "index": 0 }]]
    },
    "Claude — Generar Twitter/X": {
      "main": [[{ "node": "Extraer textos de respuestas Claude", "type": "main", "index": 0 }]]
    },
    "Claude — Generar TikTok Script": {
      "main": [[{ "node": "Extraer textos de respuestas Claude", "type": "main", "index": 0 }]]
    },
    "Extraer textos de respuestas Claude": {
      "main": [[
        { "node": "Telegram — Enviar Instagram", "type": "main", "index": 0 },
        { "node": "Telegram — Enviar Twitter/X", "type": "main", "index": 0 },
        { "node": "Telegram — Enviar TikTok Script", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
