lib/agents/n8n-workflows/support-agent-workflow.json
{
  "name": "ZenTrade — Support Agent",
  "nodes": [
    {
      "id": "node-imap-trigger",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "mailbox": "INBOX",
        "downloadAttachments": false,
        "format": "simple",
        "options": {}
      },
      "credentials": {
        "imap": {
          "id": "CONECTAR_EN_N8N",
          "name": "Hostinger IMAP"
        }
      }
    },
    {
      "id": "node-extract",
      "name": "Extraer datos del email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const email = items[0].json;\n\nconst fromRaw = email.from ?? '';\nconst fromMatch = fromRaw.match(/<(.+?)>/);\nconst fromEmail = fromMatch ? fromMatch[1] : fromRaw.trim();\nconst subject = email.subject ?? '(sin asunto)';\n\n// ANTI-LOOP: ignorar emails enviados por nosotros mismos\nif (fromEmail.toLowerCase() === 'support@zen-trader.com') {\n  return [];\n}\nif (subject.includes('[DRAFT]') || subject.includes('[BORRADOR]')) {\n  return [];\n}\n\n// Buscar el body en todos los campos posibles que n8n puede usar\nconst rawBody = email.text\n  || email.html\n  || email.textAsHtml\n  || email.body\n  || email.content\n  || email.snippet\n  || '';\n\n// Limpiar HTML si viene con tags\nconst cleanBody = rawBody\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]*>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .slice(0, 3000);\n\n// Pre-serializar payload para evitar problemas de escape en el HTTP node\nconst apiPayload = JSON.stringify({\n  from: fromEmail,\n  subject: subject,\n  body: cleanBody\n});\n\nreturn [{\n  json: {\n    from: fromEmail,\n    fromRaw: fromRaw,\n    subject: subject,\n    body: cleanBody,\n    messageId: email.messageId ?? '',\n    apiPayload: apiPayload,\n    _debug_fields: Object.keys(email).join(', ')\n  }\n}];"
      }
    },
    {
      "id": "node-http",
      "name": "Llamar al Support Agent (ZenTrade API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "https://www.zen-trader.com/api/agents/support",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer zentrade-support-2026-xK9mPqL7vN2026"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "from", "value": "={{ $json.from }}" },
            { "name": "subject", "value": "={{ $json.subject }}" },
            { "name": "body", "value": "={{ $json.body }}" }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "node-if",
      "name": "¿Auto-responder o escalar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-auto-reply",
              "leftValue": "={{ $json.shouldAutoReply }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-send-reply",
      "name": "Enviar respuesta automática",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1120, 160],
      "parameters": {
        "fromEmail": "support@zen-trader.com",
        "toEmail": "={{ $('Extraer datos del email').item.json.from }}",
        "subject": "=Re: {{ $('Extraer datos del email').item.json.subject }}",
        "emailFormat": "html",
        "html": "={{ $('Llamar al Support Agent (ZenTrade API)').item.json.reply }}",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "CONECTAR_EN_N8N",
          "name": "Hostinger SMTP"
        }
      }
    },
    {
      "id": "node-telegram",
      "name": "Notificar escalación en Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1120, 440],
      "parameters": {
        "chatId": "754505222",
        "text": "=🚨 *Soporte ZenTrade — Revisar*\n\n*De:* {{ $('Extraer datos del email').item.json.fromRaw }}\n*Asunto:* {{ $('Extraer datos del email').item.json.subject }}\n\n*Categoría:* {{ $('Llamar al Support Agent (ZenTrade API)').item.json.category }}\n*Razón escalación:* {{ $('Llamar al Support Agent (ZenTrade API)').item.json.escalationReason }}\n\n*Draft sugerido:*\n━━━━━━━━━━━━━━━━\n{{ $('Llamar al Support Agent (ZenTrade API)').item.json.draft }}\n━━━━━━━━━━━━━━━━\n\n✏️ Copia el draft, edítalo si quieres y responde desde support@zen-trader.com",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "CONECTAR_EN_N8N",
          "name": "ZenTrade Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [[{ "node": "Extraer datos del email", "type": "main", "index": 0 }]]
    },
    "Extraer datos del email": {
      "main": [[{ "node": "Llamar al Support Agent (ZenTrade API)", "type": "main", "index": 0 }]]
    },
    "Llamar al Support Agent (ZenTrade API)": {
      "main": [[{ "node": "¿Auto-responder o escalar?", "type": "main", "index": 0 }]]
    },
    "¿Auto-responder o escalar?": {
      "main": [
        [{ "node": "Enviar respuesta automática", "type": "main", "index": 0 }],
        [{ "node": "Notificar escalación en Telegram", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
