lib/agents/n8n-workflows/telegram-reply-handler.json
{
  "name": "ZenTrade — Responder desde Telegram",
  "_instrucciones": [
    "Este workflow escucha cuando TÚ respondes un mensaje del bot en Telegram.",
    "Cómo usarlo:",
    "  1. Llega la notificación de escalación al Telegram",
    "  2. Responde ESE mensaje (reply) con tus instrucciones en texto libre",
    "     Ejemplo: 'dile las ventajas de ZenTrade y los planes disponibles'",
    "     Ejemplo: 'dile que su cuenta tiene el plan starter y que puede hacer upgrade'",
    "  3. El bot compone el email, lo envía y te confirma en Telegram",
    "",
    "IMPORTANTE: El workflow solo reacciona a replies de mensajes del bot,",
    "no a mensajes directos — así no se activa por accidente.",
    "",
    "CONFIGURACIÓN: En el nodo 'Claude — Componer email' (Code node),",
    "reemplaza PEGA_TU_ANTHROPIC_API_KEY_AQUI con tu API key de Anthropic."
  ],
  "nodes": [
    {
      "id": "node-telegram-trigger",
      "name": "Telegram — Escuchar replies",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "CONECTAR_EN_N8N",
          "name": "ZenTrade Telegram Bot"
        }
      }
    },
    {
      "id": "node-check-is-reply",
      "name": "¿Es un reply al bot?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const msg = items[0].json.message;\n\n// Solo procesar si es un reply a otro mensaje\nif (!msg || !msg.reply_to_message) {\n  return [];\n}\n\nconst originalText = msg.reply_to_message.text ?? '';\nconst instructions = msg.text ?? '';\n\n// Extraer email del mensaje original de escalación\n// El formato es: 'De: Nombre <email@dominio.com>'\nconst emailMatch = originalText.match(/De:\\*?\\s*.+?<(.+?)>/);\nif (!emailMatch) {\n  // Intentar formato sin brackets\n  const emailMatch2 = originalText.match(/De:\\*?\\s*([\\w.+-]+@[\\w-]+\\.[\\w.]+)/);\n  if (!emailMatch2) {\n    return [{\n      json: {\n        error: true,\n        errorMsg: '❌ No pude encontrar el email del destinatario en el mensaje original.'\n      }\n    }];\n  }\n  return [{\n    json: {\n      error: false,\n      recipientEmail: emailMatch2[1].trim(),\n      instructions: instructions,\n      originalContext: originalText.slice(0, 800)\n    }\n  }];\n}\n\n// Extraer asunto si existe\nconst subjectMatch = originalText.match(/Asunto:\\*?\\s*(.+)/);\nconst subject = subjectMatch ? subjectMatch[1].trim() : 'Tu consulta';\n\nreturn [{\n  json: {\n    error: false,\n    recipientEmail: emailMatch[1].trim(),\n    subject: subject,\n    instructions: instructions,\n    originalContext: originalText.slice(0, 800)\n  }\n}];"
      }
    },
    {
      "id": "node-check-error",
      "name": "¿Hay email válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-no-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-compose-email",
      "name": "Claude — Componer email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 180],
      "parameters": {
        "jsCode": "// ⚠️ REEMPLAZA la API key aquí:\nconst ANTHROPIC_API_KEY = 'PEGA_TU_ANTHROPIC_API_KEY_AQUI';\n\nconst recipientEmail = items[0].json.recipientEmail;\nconst instructions = items[0].json.instructions;\nconst originalContext = items[0].json.originalContext ?? '';\nconst subject = items[0].json.subject ?? 'Tu consulta';\n\nconst systemPrompt = `Eres el agente de soporte de ZenTrade. Redacta emails de respuesta a usuarios en español latinoamericano neutro.\n\nCONOCIMIENTO DE ZENTRADE:\nPlanes: Free ($0, 1 cuenta) | Starter ($9/mes, 2 cuentas) | Professional ($29/mes, ilimitadas + CSV import, PDF, dashboard avanzado) | ZenMode ($59/mes, todo Pro + IA: ZenCoach, Revenge Trading Detection, reportes IA).\nPasarela: PayPal (tarjeta, débito, cuenta PayPal).\nTarget: traders de futuros que quieren pasar evaluaciones de prop firms.\n\nREGLAS DEL EMAIL:\n- Saluda con 'Hola,' (sin nombre, no sabemos el nombre)\n- Tono directo, cordial, profesional\n- Sin markdown, sin asteriscos — solo texto plano\n- Máximo 150 palabras\n- Termina SIEMPRE con: 'Saludos,\\nEquipo ZenTrade'\n- NO incluyas asunto ni subject en el cuerpo\n- Devuelve SOLO el cuerpo del email, nada más`;\n\nconst userContent = `Redacta un email de soporte para: ${recipientEmail}\\n\\nContexto del email original que nos enviaron:\\n${originalContext}\\n\\nMis instrucciones para la respuesta:\\n${instructions}`;\n\n// JSON.stringify maneja todos los caracteres especiales (emojis, saltos, comillas)\nconst response = await fetch('https://api.anthropic.com/v1/messages', {\n  method: 'POST',\n  headers: {\n    'x-api-key': ANTHROPIC_API_KEY,\n    'anthropic-version': '2023-06-01',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    model: 'claude-haiku-4-5',\n    max_tokens: 1024,\n    system: systemPrompt,\n    messages: [{ role: 'user', content: userContent }]\n  })\n});\n\nif (!response.ok) {\n  const errText = await response.text();\n  throw new Error(`Anthropic API ${response.status}: ${errText}`);\n}\n\nconst data = await response.json();\nconst emailBody = data.content?.[0]?.text ?? '';\n\nreturn [{\n  json: {\n    recipientEmail,\n    subject,\n    instructions,\n    emailBody\n  }\n}];"
      }
    },
    {
      "id": "node-send-email",
      "name": "Enviar email al usuario",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1120, 180],
      "parameters": {
        "fromEmail": "support@zen-trader.com",
        "toEmail": "={{ $json.recipientEmail }}",
        "subject": "=Re: {{ $json.subject }}",
        "emailFormat": "html",
        "html": "=<!DOCTYPE html><html lang='es'><head><meta charset='UTF-8'><meta name='viewport' content='width=device-width, initial-scale=1.0'></head><body style='margin:0;padding:0;background-color:#ededed;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:#112510;'><tr><td align='center' style='padding:32px 24px 28px;'><img src='https://rsunvtanukainhbtnmlu.supabase.co/storage/v1/object/public/logo/logo-hori-white.png' alt='ZenTrade' width='160' style='display:block;margin:0 auto;height:auto;' /><p style='margin:14px 0 0 0;font-size:11px;font-weight:700;color:#00C17C;letter-spacing:2.5px;text-transform:uppercase;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;'>Soporte</p></td></tr></table><table width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:#ededed;padding:32px 24px;'><tr><td align='center'><table width='600' cellpadding='0' cellspacing='0' border='0' style='max-width:600px;width:100%;'><tr><td style='background:#FFFFFF;border:1px solid #D1E8DC;border-radius:14px;padding:36px 40px;'><p style='margin:0 0 14px 0;color:#0D1F18;font-size:15px;line-height:1.8;white-space:pre-line;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;'>{{ $json.emailBody }}</p></td></tr><tr><td align='center' style='padding:28px 0 8px;'><a href='https://www.zen-trader.com' style='display:inline-block;background-color:#00C17C;color:#001B1F;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;font-weight:700;text-decoration:none;padding:13px 32px;border-radius:10px;'>Ir a ZenTrade →</a></td></tr></table></td></tr></table><table width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:#112510;'><tr><td align='center' style='padding:28px 24px 32px;'><p style='margin:0 0 6px 0;font-size:14px;color:rgba(242,243,244,0.55);font-family:Helvetica Neue,Helvetica,Arial,sans-serif;'>ZenTrade · Trading Journal para Futuros</p><a href='https://www.zen-trader.com' style='color:#00C17C;text-decoration:none;font-size:13px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;'>zen-trader.com</a><p style='margin:14px 0 0 0;font-size:12px;color:rgba(242,243,244,0.25);font-family:Helvetica Neue,Helvetica,Arial,sans-serif;'>Responde si tienes más preguntas.</p></td></tr></table></body></html>",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "CONECTAR_EN_N8N",
          "name": "Hostinger SMTP"
        }
      }
    },
    {
      "id": "node-confirm-telegram",
      "name": "Confirmar en Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1340, 180],
      "parameters": {
        "chatId": "754505222",
        "text": "=✅ *Email enviado*\n\n*Para:* {{ $json.recipientEmail }}\n*Asunto:* Re: {{ $json.subject }}\n\n*Contenido enviado:*\n{{ $json.emailBody.slice(0, 400) }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "credentials": {
        "telegramApi": {
          "id": "CONECTAR_EN_N8N",
          "name": "ZenTrade Telegram Bot"
        }
      }
    },
    {
      "id": "node-error-telegram",
      "name": "Notificar error en Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [900, 440],
      "parameters": {
        "chatId": "754505222",
        "text": "=⚠️ No pude procesar tu reply.\n\n{{ $json.errorMsg }}\n\nAsegúrate de responder directamente el mensaje de escalación (no un mensaje nuevo).",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "CONECTAR_EN_N8N",
          "name": "ZenTrade Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram — Escuchar replies": {
      "main": [[{ "node": "¿Es un reply al bot?", "type": "main", "index": 0 }]]
    },
    "¿Es un reply al bot?": {
      "main": [[{ "node": "¿Hay email válido?", "type": "main", "index": 0 }]]
    },
    "¿Hay email válido?": {
      "main": [
        [{ "node": "Claude — Componer email", "type": "main", "index": 0 }],
        [{ "node": "Notificar error en Telegram", "type": "main", "index": 0 }]
      ]
    },
    "Claude — Componer email": {
      "main": [[{ "node": "Enviar email al usuario", "type": "main", "index": 0 }]]
    },
    "Enviar email al usuario": {
      "main": [[{ "node": "Confirmar en Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
